*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   text-decoration: none;
}
body{
   position: relative;
}

.header {
   width: 100%;
   position: fixed;
   height: 116px;
   left: 0px;
   top: 0px;
   background: #FFFFFF;
   box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.1);
}
.header__container {
   margin: 0 auto;
   max-width: 1460px;
   padding: 0 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   position: relative;
}
.header__logo {
   margin-right: 70px;
}
.menu {
   display: flex;
   list-style-type: none;
}
.menu__item{
   font-family: Roboto;
   font-weight: bold;
   font-size: 22px;
   line-height: 28px;
   color: #333333;
   margin-right: 50px;
   text-decoration: none;
   transition: all .2s ease;
}
.menu__item:hover{
   color: #0065B1;
}
.header__contact {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   margin-right: 35px;
}
.phone__first {
   font-family: Roboto;
   font-weight: bold;
   font-size: 20px;
   line-height: 23px;
   color: #333333;
   text-decoration: none;
   white-space: nowrap;
}
.phone__second {
   font-family: Roboto;
   font-weight: bold;
   font-size: 20px;
   line-height: 23px;
   color: #333333;
   text-decoration: none; 
   white-space: nowrap;
}
.header__button {
   font-family: Montserrat;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   padding: 15px 28px;
   color: #C82625;
   border: 2px solid #C82625;
   border-radius: 53px;
   white-space: nowrap;
   cursor: pointer;
   transition: all .2s ease;
}
.header__button:hover {
   background: #C82625;
   color: #fff;
}
.menu__burger {
   position: absolute;
   display: none;
   width: 39px;
   height: 39px;
   top: 50%;
   transform: translateY(-50%);
   right: 22px;
   cursor: pointer;
}
.menu__burger span{
   width: 100%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   height: 3px;
   border-radius: 1px;
   background: #0065B1;
}
.menu__burger span::before,
.menu__burger span::after{
   content: "";
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 3px;
   border-radius: 1px;
   background: #0065B1;
}
.menu__burger span::before{
   top: -12px;
}
.menu__burger span::after{
   bottom: -12px;
}
.call-icon{
   display: none;
}
.menu__open{
   position: absolute;
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.7);
   display: block;
   z-index: 100;
}
.menu__open-content{
   position: absolute;
   background-color: #F5F5F5;
   width: 100%;
   min-height: 300px;
}