*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   text-decoration: none;
}
body{
   position: relative;
}

.header {
   width: 100%;
   z-index: 3;
   position: fixed;
   height: 116px;
   left: 0px;
   top: 0px;
   background: #FFFFFF;
   box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.1);
}
.header__container {
   margin: 0 auto;
   max-width: 1460px;
   padding: 0 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   position: relative;
}
.header__logo {
   margin-right: 70px;
}
.menu {
   display: flex;
   list-style-type: none;
}
.menu__item{
   font-family: Roboto;
   font-weight: bold;
   font-size: 22px;
   line-height: 28px;
   color: #333333;
   margin-right: 50px;
   text-decoration: none;
   transition: all .2s ease;
}
.menu__item:hover{
   color: #0065B1;
}
.header__contact {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   margin-right: 35px;
}
.phone__first {
   font-family: Roboto;
   font-weight: bold;
   font-size: 20px;
   line-height: 23px;
   color: #333333;
   text-decoration: none;
   white-space: nowrap;
}
.phone__second {
   font-family: Roboto;
   font-weight: bold;
   font-size: 20px;
   line-height: 23px;
   color: #333333;
   text-decoration: none; 
   white-space: nowrap;
}
.header__button {
   font-family: Montserrat;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   padding: 15px 28px;
   color: #C82625;
   border: 2px solid #C82625;
   border-radius: 53px;
   white-space: nowrap;
   cursor: pointer;
   transition: all .2s ease;
}
.header__button:hover {
   background: #C82625;
   color: #fff;
}
.menu__burger {
   position: absolute;
   display: none;
   width: 39px;
   height: 39px;
   top: 50%;
   transform: translateY(-50%);
   right: 22px;
   cursor: pointer;
}
.menu__burger span{
   width: 100%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   height: 3px;
   border-radius: 1px;
   background: #0065B1;
}
.menu__burger span::before,
.menu__burger span::after{
   content: "";
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 3px;
   border-radius: 1px;
   background: #0065B1;
}
.menu__burger span::before{
   top: -12px;
}
.menu__burger span::after{
   bottom: -12px;
}
.call-icon{
   display: none;
}
.menu__open{
   position: fixed;
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.7);
   display: block;
   z-index: 100;
   opacity: 0;
   visibility: hidden;
   transition: all .3s ease;
   overflow: auto;
}
.menu__open.active{
   opacity: 1;
   visibility: visible;
}
.menu__open.active .menu__open-content{
   transform: translateY(0);
}
.menu__open-content{
   position: absolute;
   transform: translateY(-100%);
   transition: all .3s ease;
   background-color: #F5F5F5;
   width: 100%;
   min-height: 300px;
   padding: 27px 20px;
}

.menu__open-nav {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.menu__open-item{
   margin-bottom: 13px;
}
.menu__open-item a{
   font-family: Roboto;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 28px;
   color: #272727;
   cursor: pointer;
}
.menu__open-item a:hover {
   color: #0065B1;
}
.menu__open-info {
   margin-top: 30px;
}
.menu__open-phone1 {
   font-family: Roboto;
   font-weight: 500;
   font-size: 18px;
   color: #59AE6B;
   margin-top: 20px;
   margin-bottom: 10px;
}
.menu__open-phone2 {
   font-family: Roboto;
   font-weight: 500;
   font-size: 18px;
   color: #59AE6B;
}
.timetable {
   font-family: Roboto;
   font-size: 14px;
   line-height: 20px;
   color: #A4A4A4;
   margin-top: 4px;
}
.menu__open-links {
   display: flex;
   max-width: 65px;
   width: 100%;
   align-items: center;
   justify-content: space-between;
   position: absolute;
   right: 75px;
   top: 220px;
}
.menu__open-link1 {
}
.menu__open-link2 {
}
.menu__open-close {
   position: absolute;
   top: 36px;
   right: 29px;
   cursor: pointer;
}
.popup {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.7);
   opacity: 0;
   visibility: hidden;
   transition: opacity .2s ease;
}
.popup:target {
   opacity: 1;
   visibility: visible;
}
.popup__body {
   min-height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
}
.popup__area{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.popup__content {
   border-radius: 15px;
   background-color: #fff;
   max-width: 567px;
   color: #333333;
   padding: 37px 12px;
   width: 100%;
   text-align: center;
   position: relative;
}
.popup__close {
   position: absolute;
   top: 20px;
   right: 20px;
}
.popup__title {
   font-family: MontSB;
   font-size: 30px;
   line-height: 38px;
   color: #333333;
}
.popup__form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 26px;
}
.popup__input {
   background: #FFFFFF;
   border: 1px solid rgba(0, 0, 0, 0.05);
   border-radius: 10px;
   width: 100%;
   max-width: 356px;
   padding: 15px 20px;
   box-shadow: 0px 7px 20px #0000001a;
   margin-bottom: 15px;

   font-family: MontR;
   font-size: 20px;
   color: #333;
}
.popup__but {
   background: linear-gradient(360deg, #F5C526 0%, #F9E278 100%);
   box-shadow: 0px 7px 20px #BC9329;
   border-radius: 53px;
   padding: 19px 50px;
   border: none;
   font-family: Montserrat;
   font-weight: bold;
   font-size: 20px;
   line-height: 24px;
   color: #333333;
   margin-top: 20px;
   cursor: pointer;
}
.popup__but a{
   color: #333;
}
.popup__but:hover {
   background: linear-gradient(360deg, #F5C526 0%, #FFC749 100%);
   box-shadow: 0px 7px 20px #BC9329;
   border-radius: 53px;
}
.popup__but:active{
   color: #333333;
}
.s1 {
   width: 100%;
   margin-top: 116px;
   padding: 218px 0; 
   background-image: url(../images/s1-bg.jpg);
   background-repeat: no-repeat;
   background-size: auto 100%;
   background-position: right;
}
.s1__container {
   margin: 0 auto;
   max-width: 1375px;
   padding: 10px;
   position: relative;
}
.s1__title {
   font-family: Roboto;
   font-weight: bold;
   font-size: 43px;
   line-height: 50px;
   color: #333;
   margin-bottom: 40px;
}
._inBlue {
   color: #0065B1;
}
.s1__subtitle {
   font-family: MontSB;
   font-size: 24px;
   line-height: 31px;
   color: #333333;
   max-width: 792px;
   margin-bottom: 50px;
}
.s1__steps {
   display: flex;
   align-items: flex-start;
}
.step1 {
   
}
.step2 {
   margin-left: 135px;
}
.step {
   font-family: MontSB;
   font-size: 22px;
   line-height: 28px;
   color: #333333;
   opacity: 0.8;
   max-width: 241px;
   padding-left: 55px;
   background-image: url(../images/Check.png);
   background-repeat: no-repeat;
   
}
.s1__but {
   background: linear-gradient(360deg, #F5C526 0%, #F9E278 100%);
   box-shadow: 0px 7px 20px #BC9329;
   border-radius: 53px;
   border: none;
   padding: 27px 80px;
   font-family: Montserrat;
   font-weight: bold;
   font-size: 20px;
   line-height: 24px;
   color: #333333;
   margin-top: 46px;
}
.s1__but a{
   color: #333;
}
.s1__but:hover {
   background: linear-gradient(360deg, #F5C526 0%, #F5C526 100%);
   box-shadow: 0px 7px 20px #BC9329;
   border-radius: 53px;
}
.special {
   position: absolute;
   left: 400px;
   bottom: 0;
}